@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 24 11% 26%;

    --card: 0 0% 100%;
    --card-foreground: 24 11% 26%;

    --popover: 0 0% 100%;
    --popover-foreground: 24 11% 26%;

    --primary: 41 33% 43%;
    --primary-foreground: 0 0% 98%;

    --secondary: 34 10% 76%;
    --secondary-foreground: 24 11% 26%;

    --muted: 34 10% 92%;
    --muted-foreground: 24 6% 50%;

    --accent: 34 10% 85%;
    --accent-foreground: 24 11% 26%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 34 10% 87%;
    --input: 34 10% 87%;
    --ring: 24 11% 26%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 24 11% 26%;

    --card: 0 0% 100%;
    --card-foreground: 24 11% 26%;

    --popover: 0 0% 100%;
    --popover-foreground: 24 11% 26%;

    --primary: 41 33% 43%;
    --primary-foreground: 0 0% 98%;

    --secondary: 34 10% 76%;
    --secondary-foreground: 24 11% 26%;

    --muted: 34 10% 92%;
    --muted-foreground: 24 6% 50%;

    --accent: 34 10% 85%;
    --accent-foreground: 24 11% 26%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 34 10% 87%;
    --input: 34 10% 87%;
    --ring: 24 11% 26%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .gold-text {
    @apply text-[#947b49];
  }

  .gold-button {
    @apply bg-[#947b49] text-white px-6 py-2 rounded-md hover:bg-[#c5a44f] transition-colors;
  }

  .section-title {
    @apply text-3xl font-serif font-light text-center mb-6 gold-text;
  }

  .event-card {
    @apply bg-white rounded-lg p-6 shadow-md mb-6;
  }
}